$themeColor:#ccae79;
$textColor_main:#252525;
$textColor_header:#ffffff;
$backgroundColor_section:#fafafa;
$mainFontFamily:'Montserrat',
sans-serif;
$secondFontFamily: 'Open Sans',
sans-serif;
$formBorderColor:#ccc;
$formBackgroundColor:#eeeeee;